# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and Models (To prevent pushing massive gigabyte files)
Data/
Models/
*.pth
*.pt
*.bin
*.safetensors
*.ckpt
*.fasta
*.fna
*.fastq
*.h5

# Logs and outputs
logs/
*.log
FINAL OUTPUT.TXT

# IDEs and OS files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
